h1{
    color: red;
    font-size: 40px;
}

/* classes */
.label {
    float : left;
    font-weight: bold;
    font-size: 1.9vh;
}
.input {
    width : 125px;
    float : right;
    border-width: 0.4vh;
}
.label-input-pair{
    align-items: baseline;
    margin-bottom: 1.0vh;
}
.socialize{
    font-weight: bold;
}
.flex-container{
    display: flex;
    background-color:rgba(222, 226, 243, 0.5);
}
.flex-row-container{
    display: flex;
    flex-direction: row;
}
.flex-column-container{
    display: flex;
    flex-direction: column;
}

/* id's */
#log-in{
    border-color: yellow;
    border-style: groove;
    height: 400px;
    width : 250px;
}
#sign-in{
    border-color: red;
    border-style: dashed;
    height: auto;
    width: auto;
    margin-bottom: 10px;
}
#sign-up{
    border-color: purple;
    border-style: dashed;
    height: auto;
    width: auto;
}
#welcome-message{
    border-color: blue;
    border-style: dashed;
    height: 400px;
    width: 340px; 
    margin-right: 10px;
}
#welcome-view{
    border-color : violet;
    border-style: groove;
    width: 600px;
    margin-top: 100px;
}