h1{
    color: red;
    font-size: 40px;
    text-align: center;
}
select{
    width: 50%;
    border-width: 0.4vh;
    float: right;
}

/* classes */
.modal{
    border-style: groove;
    border: 3px solid black;
    border-color: rgba(0, 0, 0, 1);
    background-color:rgb(236, 236, 236, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    position: fixed;
    display: flex;
    height: 60vh;
    width: 60vw;
    z-index: 10;
}
.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.95);
    transform: scale(0);
    z-index: 3;
}
.label {
    float : left;
    font-weight: bold;
    font-size: 1.9vh;
}
.input{
    width: 50%;
    float : right;
    border-width: 0.4vh;
}
.label-input-pair{
    align-items: baseline;
    margin-bottom: 1.0vh;
}
.socialize{
    text-align: center;
    font-weight: bold;
}
.flex-container{
    display: flex;
    /* background-color:rgba(222, 226, 243); */
    /* background-color:rgba(222, 226, 243, 0.5); */
}
.flex-row-container{
    display: flex;
    flex-direction: row;
}
.flex-column-container{
    display: flex;
    flex-direction: column;
}

/* id's */
#modal-header{
    border-bottom: 0.5vh solid black;
    font-size: 90%;
    margin-bottom: 4%;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
}
#modal-title{
    font-size: 90%;
}
#modal-body{

}
#welcome-section{
    height: 100%;
    width: 100%;
    border: 3px solid black;
}
#sign-up-message{
    font-size: 90%;
    margin-bottom: 4%;
    margin-top: 4%;
}
#log-in{
    border-color: yellow;
    border-style: groove;
    height: 400px;
    width : 250px;
}
#sign-in{
    border-color: red;
    border-style: dashed;
    height: auto;
    width: auto;
    margin-bottom: 10px;
}
#sign-up{
    border-color: purple;
    border-style: dashed;
    height: auto;
    width: auto;
    max-height: 350px;
}
#welcome-message{
    border-color: blue;
    border-style: dashed;
    height: 400px;
    width: 340px; 
    margin-right: 10px;
}
#welcome-view{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color : violet;
    border-style: groove;
    width: 600px;
}