h1{
    color: black;
    font-size: 200%;
    text-align: center;
}
button{
    cursor: pointer;
}
select{
    width: 50%;
    border-width: 2px;
    float: right;
    cursor: pointer;
}
body{
    background-size: 100%;
}
/* classes */
.writer{
    font-weight: bold;
}
.message{
    font-size: small;
    overflow-wrap: break-word;
}
.message-box{
    border: 2px solid burlywood;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.message-box p{
    margin: 0;
}
.label-info-pair{
    align-items: center;
    justify-content: space-between;
}
.personal-info{
    font-size: small;
    /* flex: 1; */
}
.container-section{
    height: 100%;
    width: 100%;
}
.view{
    display: flex;
    height: 410px;
    width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link-tab{
    margin-right: 10px;
    font-size: larger;
    font-weight: 600;
    color: blue;
}
.modal{
    border-style: groove;
    border: 3px solid black;
    border-color: rgba(0, 0, 0, 1);
    background-color:rgb(248, 239, 210);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    position: fixed;
    display: flex;
    height: 350px;
    width: 450px;
    z-index: 10;
}
.label {
    float : left;
    font-size:medium;
}
.input{
    width: 50%;
    border-width: 2px;
}
.label-input-pair{
    margin-bottom: 3px;
    margin-top: 2px;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-between;
    align-items: center;
}
.socialize{
    text-align: center;
    font-weight: bold;
}
.flex-row-container{
    display: flex;
    flex-direction: row;
}
.flex-column-container{
    display: flex;
    flex-direction: column;
}
.center-submit{
    cursor: pointer;
    border-width: 3px;
    width: 30%;
    margin: auto;
}
.login-submit{
    cursor: pointer;
    border-width: 3px;
    margin-top: 1px;
    margin-left: 1%;
    margin-right: 1%;
}

/* id's */

/* profile view */
#posted-messages{
    /* border-bottom: 3px solid red; */
    height: 80%;
    /* max-width: 100%; */
}
#send-messages{
    /* border: 3px solid blue; */
    border-top: 3px solid black;
    flex : 1;
}
#send-message-text{
    width: 80%;
    resize: none;
}
#send-message-button{
    /* cursor: pointer; */
    flex : 1;
    border-width: 3px;
}
#info-box{
    border: 3px solid black;
    width: 40%;
    margin-right: 10px;
    background-color:rgb(248, 239, 210);
    padding: 2px;
}
#message-container{
    border: 3px solid black;
    flex-grow: 1;
    background-color:rgb(248, 239, 210);
    max-width: 380px;
}
#sign-out-container{
    flex-grow: 1;
    align-items: center
}
#home{
    max-width: 600;
    max-height: 410;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#browse{
    display: none;
    flex-direction: column;
}
#account{
    border: 2.5px solid black;
    display: none;
    flex-direction: column;
    max-width: 600;
    max-height: 410;
    width: 100%;
    height: 100%;
    background-color:rgb(248, 239, 210);
}

/* /profile view */

/* welcome view */
#welcome-message{
    border: 2.5px solid black;
    background-color:rgb(248, 239, 210);
    max-height: 410px;
    max-width: 340px;
    margin-right: 10px;
}
#sign-up-message{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
#log-in{
    max-height: 410px;
    max-width : 250px;
}
#sign-in{
    border: 2.5px solid black;
    background-color:rgb(248, 239, 210);
    height: auto;
    width: auto;
    margin-bottom: 10px;
}
#sign-up{
    background-color:rgb(248, 239, 210);
    border: 2.5px solid black;
    height: 100%;
    width: auto;
}
/* /welcome view */

#modal-header{
    border-bottom: 3px solid black;
    font-size: 90%;
    margin-bottom: 4%;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
}
#modal-title{
    font-size: 140%;
}